[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "themes/omega-hugo"]
	path = themes/omega-hugo
	url = https://github.com/gethugothemes/omega-hugo.git
